- content_for :pageheader do
  - 'Your next tweet (possibly!)'

%p.explanation
  You could (but probably not) use this as your next tweet:

%blockquote.generated
  %p
    = @generated_tweet

%h2#try_again
  Try again?

= partial 'shared/form', :locals => { :action_url => 'create' }
