body {
  padding-top: 50px; }

.hero-unit {
  text-align: center; }

.topbar {
  top: 0;
  left: 0;
  padding-left: 8px;
  background-color: #333333;
  position: fixed;
  height: 24px;
  width: 100%;
  color: #dddddd; }
  .topbar a {
    color: #dddddd; }
  .topbar a:hover {
    font-weight: bold;
    color: white; }

.explanation {
  margin-top: 20px;
  margin-bottom: 20px; }

.generated {
  background-color: white;
  border: solid 1px;
  border-radius: 6px;
  padding: 16px 32px 16px 32px; }

.trends {
  padding-left: 20%;
  padding-right: 20%;
  border: none; }
  .trends a {
    margin-left: 1em; }

.hpot {
  display: none; }
