- content_for :pageheader do
  - 'About this site'
%p.explanation
  This is a small web application developed by
  %a{ :href => "http://twitter.com/yujiyokoo"}
    @yujiyokoo
  just for fun.
%p
  It is yet another random string generator from Twitter search results. It uses a
  %a{:href => 'https://github.com/yujiyokoo/marky_markov'} customised version
  of
  %a{:href => 'https://github.com/zolrath/marky_markov'} MarkyMarkov
  \.
%p
  This application's source is available from
  %a{:href => 'https://bitbucket.org/yujiyokoo/markytweet'} bitbucket
  or
  %a{:href => 'https://github.com/yujiyokoo/markytweet'} github
  \.

%p
  Please read
  %a{ :href => url( '/fineprint' ) }
    the fine print
  \.
