- content_for :pageheader do
  - 'The Fine Print'
%p.explanation
  This site is only intended as a joke. Nobody but you will be responsible for anything that happens as a result of using this site. Please tweet responsibly.
